body {
	font-family: 'Helvetica Neue';
	color: #000000;
	font-size: 18px;
}

html{ 
	background: url(bg.jpg) no-repeat 0 50% ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-background-size: cover;
	}

#main-container {
	margin-top: 150px;
	text-align: center;
}

.ui-page { -webkit-backface-visibility: hidden; }

div.transbox
  {
  width:1024px;
  height:500px;
  margin:30px 50px;
  background-color:#ffffff;
  border:0px solid black;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  margin-left: auto ;
  margin-right: auto ;
  }

a:link, a:visited {
	font-weight: normal;
	text-transform: uppercase;
	color: #136B5B;
	text-decoration: none;
}

a:hover, a:active {
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}


#box1 {
	float: left;
	width: 100%;
}

#box2 {
	float: right;
	width: 33%;
}

#box_left {
	float: left;
	width: 25%;
}

#box_right {
	float: right;
	width: 25%;
}

h1 {text-align:center}

